body{
    background-color: #d5e1ef;
    height: 100vh;
    display: flex;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-family: HankenGrotesk;
    background-color: white;
    width: 700px;
    height: 515px;
    border-radius: 5%;
    margin: auto;
}

ul{    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
}

li{
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row; 
    padding-left: 15px;
    padding-right: 15px;
    width: 260px;
    max-width: 260px;
    height: 55px;
    max-height: 80px;
    gap: 75px;
}

#reaction{
    background-color: rgba(255,246,245,255);
    color: rgba(215,115,111,255);
}

#memory{
    background-color:rgba(255,251,242,255);
    color: rgba(230,198,122,255);
}

#verbal{
    background-color: rgba(242,250,250,255);
    color: rgba(32,166,130,255);
}

#visual{
    background-color: rgba(243,243,253,255);
    color: rgba(52,68,168,255);
}

.skillscore{
    display: flex;
    gap: 8px;
    width: 100px;
    max-width: 100px;
}

.skillname{
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 82px;
    font-weight: bold;
}

.score{
    color: black;
}

.total{
    color: rgba(207,200,208,255);
    width: 60px;
}

.summary{
    padding-left: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
}

button{
    background-color: rgba(48,59,89,255);
    color: white;
    width: 265px;
    height: 55px;
    margin-left: 40px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    font-size: 16px;
    font-family: HankenGrotesk;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgba(85,59,247,255);
}

.result{
    background: rgb(102,66,253);
    background: linear-gradient(180deg, rgba(102,66,253,1) 0%, rgba(78,56,245,1) 35%, rgba(78,56,245,1) 100%);
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 515px;
    width: 370px;
}

.resultscore{
    background: rgb(71,32,200);
    background: linear-gradient(180deg, rgba(71,32,200,1) 0%, rgba(69,44,223,1) 35%, rgba(71,52,240,1) 100%);
    border: none;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 25px;
}

.finalscore{
    color: rgba(254,253,255,255);
    font-size: 70px;
    font-weight: bolder;
}

.result100{
    color: rgba(141,128,255,255);
    font-weight: bold;
    font-size: 18px;
}

.summarydiv{
    height: 515px;
    width: 300px;
}

.percentage{
    text-align: center;
    height: 70px;
    width: 260px;
    font-weight: bold;
    font-size: 18px;
    color: rgba(176,169,255,255);
}

.result h1{
    color: rgba(249,250,249,255);
    padding-bottom: 15px;
}

.result h2{
    color: rgba(202,187,255,255);
    font-size: 24px;
}